<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Students</title>
        <link rel="stylesheet" type="text/css" media="all" href="main.css" th:href="@{/main.css}"></link>
    </head>
    <body>
        <h1>All Students</h1>
        <table>
        	<tr>
        		<th>
        			No.
        		</th>
        		<th>
        			NPM
        		</th>
        		<th>
        			Name
        		</th>
        		<th>
        			GPA
        		</th>
        		<th>
        			Kuliah Yang Diambil
        		</th>
        		<th>
        			Pilihan
        		</th>
        	</tr>
        
    	<div th:each="student,iterationStatus: ${students}">
    	<tr>
    		<td>
    			<h3 th:text="${iterationStatus.count}">No. 1</h3>
    		</td>
    		<td>
    			<h3 th:text="${student.npm}">Student NPM</h3>
    		</td>
	       	<td>
	       		<h3 th:text="${student.name}">Student Name</h3>
	       	</td>
	       	<td>
	       		<h3 th:text="${student.gpa}">Student GPA</h3>
	       	</td>
	       	<td>
	       		<ul th:each="course,iterationStatus: ${student.courses}">
                <li th:text="${course.nama} + '-' + ${course.sks} + ' sks'" >
                    Nama kuliah-X SKS
                </li>
            	</ul> 
	       	</td>
	       	<td>
	       		<a th:href="'/student/delete/' + ${student.npm}" > Delete Data</a><br/>
	       		<a th:href="'/student/update/' + ${student.npm}" > Update Data</a><br/>
	       	</td>
    	</tr>
       	</div>
       	</table>
    </body>
</html>
