<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Courses</title>
        <link rel="stylesheet" type="text/css" media="all" href="main.css" th:href="@{/main.css}"></link>
    </head>
    <body>
        <h1>All Students</h1>
        <table>
        	<tr>
        		<th>
        			No.
        		</th>
        		<th>
        			Course ID
        		</th>
        		<th>
        			Name
        		</th>
        		<th>
        			SKS
        		</th>
        	</tr>
        
    	<div th:each="course,iterationStatus: ${courses}">
    	<tr>
    		<td>
    			<h3 th:text="${iterationStatus.count}">No. 1</h3>
    		</td>
    		<td>
    			<h3 th:text="${course.id_course}">Course ID</h3>
    		</td>
	       	<td>
	       		<h3 th:text="${course.nama}">Course Name</h3>
	       	</td>
	       	<td>
	       		<h3 th:text="${course.sks}">Credits</h3>
	       	</td>
    	</tr>
       	</div>
       	</table>
    </body>
</html>
